# Configuration for Azure Pipelines
########################################################################################

# Only build the master, 6.x and 5.4 branches, tags, and PRs (on by default)
# to avoid building random branches in the repository until a PR is opened.
trigger:
  branches:
    include:
    - master
    - 6.?
    - 5.4
    - refs/tags/*

jobs:

# Linux - Compile only
########################################################################################
- job:
  displayName: 'Linux | Compile only'
  condition: ne(variables['Build.Reason'], 'Schedule')

  pool:
    vmImage: 'ubuntu-18.04'

  variables:
    BUILD_DOCS: false
    DEPLOY_DOCS: false
    PACKAGE: false
    TEST: false

  steps:
  - template: ci/azure-pipelines-linux.yml

# Linux - Build docs + Deploy docs + Package
########################################################################################
- job:
  displayName: 'Linux | Build docs + Deploy docs + Package'
  condition: eq(variables['Build.Reason'], 'Schedule')

  pool:
    vmImage: 'ubuntu-18.04'

  variables:
    BUILD_DOCS: true
    DEPLOY_DOCS: true
    PACKAGE: true
    TEST: false

  steps:
  - template: ci/azure-pipelines-linux.yml

# Linux - Test
########################################################################################
- job:
  displayName: 'Linux | Test'
  condition: eq(variables['Build.Reason'], 'Schedule')

  pool:
    vmImage: 'ubuntu-18.04'

  variables:
    BUILD_DOCS: false
    DEPLOY_DOCS: false
    PACKAGE: false
    TEST: true

  steps:
  - template: ci/azure-pipelines-linux.yml

# Mac - Compile only
########################################################################################
- job:
  displayName: 'Mac | Compile only'
  condition: ne(variables['Build.Reason'], 'Schedule')

  pool:
    vmImage: 'macOS-10.14'

  variables:
    BUILD_DOCS: false
    DEPLOY_DOCS: false
    PACKAGE: false
    TEST: false

  steps:
  - template: ci/azure-pipelines-mac.yml

# Mac - Build docs + Package
########################################################################################
- job:
  displayName: 'Mac | Build docs + Package'
  condition: eq(variables['Build.Reason'], 'Schedule')

  pool:
    vmImage: 'macOS-10.14'

  variables:
    BUILD_DOCS: true
    DEPLOY_DOCS: false
    PACKAGE: true
    TEST: false

  steps:
  - template: ci/azure-pipelines-mac.yml

# Mac - Test
########################################################################################
- job:
  displayName: 'Mac | Test'
  condition: eq(variables['Build.Reason'], 'Schedule')

  pool:
    vmImage: 'macOS-10.14'

  variables:
    BUILD_DOCS: false
    DEPLOY_DOCS: false
    PACKAGE: false
    TEST: true

  steps:
  - template: ci/azure-pipelines-mac.yml

# Windows - Compile only
########################################################################################
- job:
  displayName: 'Windows | Compile only'
  condition: ne(variables['Build.Reason'], 'Schedule')
  timeoutInMinutes: 120

  pool:
    vmImage: 'windows-2019'

  variables:
    BUILD_DOCS: false
    DEPLOY_DOCS: false
    PACKAGE: false
    TEST: false

  steps:
  - template: ci/azure-pipelines-windows.yml

# Windows - Build Docs + Package
########################################################################################
- job:
  displayName: 'Windows | Build Docs + Package'
  condition: ne(variables['Build.Reason'], 'Schedule')
  timeoutInMinutes: 120

  pool:
    vmImage: 'windows-2019'

  variables:
    BUILD_DOCS: true
    DEPLOY_DOCS: false
    PACKAGE: true
    TEST: false

  steps:
  - template: ci/azure-pipelines-windows.yml

# Windows - Test
########################################################################################
- job:
  displayName: 'Windows | Test'
  condition: ne(variables['Build.Reason'], 'Schedule')
  timeoutInMinutes: 360

  pool:
    vmImage: 'windows-2019'

  variables:
    BUILD_DOCS: false
    DEPLOY_DOCS: false
    PACKAGE: false
    TEST: true

  steps:
  - template: ci/azure-pipelines-windows.yml
