# Configuration file for TravisCI

# Use the container builds so we don't need sudo priviledges
sudo: false

language: c

# Only build pushes to select branches and tags. This avoids the double
# builds than happen when working on a branch instead of a fork.
branches:
    only:
        - master
        - 5.4
        # Regex to build tagged commits with version numbers
        - /\d+\.\d+(\.\d+)?(\S*)?$/

# Set the Ubuntu version for the Linux builds
dist: xenial

# Dependencies for the Linux and OSX builds
addons:
    apt:
        packages:
            - cmake
            - build-essential
            - libcurl4-gnutls-dev
            - libnetcdf-dev
            - libgdal1-dev
            - libfftw3-dev
            - libpcre3-dev
            - liblapack-dev
            - ghostscript
            - curl
            - graphicsmagick
            - python
            - python-pip
    homebrew:
        packages:
            - cmake
            - curl
            - netcdf
            - gdal
            - fftw
            - pcre2
            - ghostscript
            - curl
            - graphicsmagick
            - python

# Define environment variables and set build actions
env:
    global:
        - INSTALLDIR="$HOME/gmt-install-dir"
        - COASTLINEDIR="$HOME/gmt-install-dir/coast"
        - PATH="$INSTALLDIR/bin:$PATH"
        - LD_LIBRARY_PATH="$INSTALLDIR/lib:$LD_LIBRARY_PATH"
        - COVERAGE=true
        - BUILD_DOCS=false
        - TEST=false

# Create the build matrix with different jobs for each platform and cron jobs
matrix:
    include:
        - name: "Linux (compile only)"
          os: linux
          if: type != cron
        - name: "Linux (cron)"
          os: linux
          if: type = cron
          env:
            - TEST="all"
        - name: "Mac (compile only)"
          os: osx
          if: type != cron
        - name: "Mac (cron)"
          os: osx
          if: type = cron
          env:
            - TEST="all"
        # Only build the docs on Linux cron jobs
        - name: "Linux (cron - build docs)"
          os: linux
          if: type = cron
          env:
            - BUILD_DOCS=true

# Setup the build environment
before_install:
    - mkdir "$INSTALLDIR"
    - mkdir "$COASTLINEDIR"
    - bash ci/download-coastlines.sh
    # Install GMT documentation dependencies
    - if [ "$BUILD_DOCS" == "true" ]; then
        pip install --user sphinx;
      fi

# Install the package that we want to test
install:
    # Build and install GMT
    - bash ci/build-gmt.sh;

# Run the actual tests and checks
script:
    - cd build
    - gmt defaults -Vd
    - gmt pscoast -R0/10/0/10 -JM6i -Ba -Ggray -P -Vd > test.ps
    - if [ "$TEST" == "all" ]; then
        make -j check;
      fi
    # Upload test coverage even if build fails. Keep separate to make sure this task
    # fails if the tests fail.
    - if [ "$TEST" == "all" ]; then
        bash <(curl -s https://codecov.io/bash);
      fi
    - if [ "$BUILD_DOCS" == "true" ]; then
        make -j docs_html;
      fi
    - cd ..

# Things to do if the build is successful
#after_success:

notifications:
    email: false
