language: c

sudo: required

branches:
    only:
        - master
        - 5.4
        # Regex to build tagged commits with version numbers
        - /\d+\.\d+(\.\d+)?(\S*)?$/

os:
    - linux
    #- osx

env:
    global:
        - INSTALLDIR="$HOME/gmt-install-dir"
        - COASTLINEDIR="$HOME/gmt-install-dir/coast"
        - PATH="$INSTALLDIR/bin:$PATH"
        - LD_LIBRARY_PATH="$INSTALLDIR/lib:$LD_LIBRARY_PATH"
        - if [ "$TRAVIS_EVENT_TYPE" == "cron" ]; then
            export PYTHON=3.6
            export CONDA_INSTALL_EXTRA="sphinx"
            export COVERAGE=true
          fi

before_install:
    # Install GMT dependencies
    - bash ci/travis-setup.sh
    # Install GMT documentation dependencies
    - if [ "$TRAVIS_EVENT_TYPE" == "cron" ]; then
        git clone https://github.com/fatiando/continuous-integration.git;
        source continuous-integration/travis/setup-miniconda.sh;
      fi

install:
    # Build and install GMT
    - bash ci/travis-build.sh;

script:
    - gmt defaults -Vd
    - gmt pscoast -R0/10/0/10 -JM6i -Ba -Ggray -P -Vd > test.ps
    # Build documentations, tests and coverage reports
    - if [ "$TRAVIS_EVENT_TYPE" == "cron" ]; then
        cd build; make -j docs_html; cd ..;
        cd build; make -j check; cd ..;
      fi
    - export COVERAGE=true
    - cd build; make -j check; cd ..;

after_success:
    - bash <(curl -s https://codecov.io/bash)

notifications:
    email: false
