CURL.VERBOSE=1
#CURL.DEFLATE=0
CURL.COOKIEJAR=.dods_cookies
#CURL.COOKIEFILE=
#CURL.CREDENTIALS.USER=
#CURL.CREDENTIALS.PASSWORD=
# SSL Support
CURL.SSL.VALIDATE=1
# For ESG access (e.g. http://ceda.ac.uk/...)
# CURL.SSL.CERTIFICATE and CURL.SSL.KEY should have same value
CURL.SSL.CERTIFICATE=/home/dmh/.globus/x509up_u13615
CURL.SSL.KEY=/home/dmh/.globus/x509up_u13615
#CURL.SSL.CAINFO=
CURL.SSL.CAPATH=/home/dmh/.globus/certificates
# Proxy configuration (optional parts in []s):
#CURL.PROXY_SERVER=http://[username:password@]host[:port]
