# Template for Linux steps in Azure Pipelines

steps:

- bash: |
    set -x -e
    sudo apt-get update
    sudo apt-get install -y --no-install-recommends --no-install-suggests \
        cmake ninja-build libcurl4-gnutls-dev libnetcdf-dev libgdal-dev \
        libfftw3-dev libpcre3-dev liblapack-dev ghostscript curl
  displayName: Install dependencies

- bash: |
    set -x -e
    sudo apt-get install -y --no-install-recommends --no-install-suggests \
        graphicsmagick gdal-bin
  displayName: Install dependencies for running tests
  condition: eq(variables['TEST'], true)

- bash: |
    set -x -e
    sudo apt-get install -y --no-install-recommends --no-install-suggests \
        python3-pip python3-setuptools python3-wheel graphicsmagick ffmpeg
    sudo snap install pngquant
    pip3 install --user sphinx==1.8.5
    echo "##vso[task.prependpath]$HOME/.local/bin"
  displayName: Install dependencies for building documentation
  condition: eq(variables['BUILD_DOCS'], true)

- bash: |
    echo "##vso[task.setvariable variable=INSTALLDIR]$BUILD_SOURCESDIRECTORY/gmt-install-dir"
    echo "##vso[task.setvariable variable=COASTLINEDIR]$BUILD_SOURCESDIRECTORY/coastline"
  displayName: Set install location and coastline location

- bash: echo "##vso[task.prependpath]$INSTALLDIR/bin"
  displayName: Set PATH

- task: Cache@2
  inputs:
    key: coastline | ci/download-coastlines.sh
    path: $(COASTLINEDIR)
    cacheHitVar: CACHE_COASTLINE_RESTORED
  displayName: Cache GSHHG and DCW data

- bash: ci/download-coastlines.sh
  displayName: Download coastlines
  condition: ne(variables['CACHE_COASTLINE_RESTORED'], true)

- bash: ci/config-gmt-unix.sh
  displayName: Configure GMT

- bash: |
    mkdir -p build
    cd build
    cmake -G Ninja ..
    cmake --build .
  displayName: Compile GMT

- bash: |
    set -x -e
    cd build
    cmake --build . --target docs_depends
    cmake --build . --target optimize_images
    cmake --build . --target animation
    cmake --build . --target docs_html
    cmake --build . --target docs_man
  displayName: Build documentations
  condition: eq(variables['BUILD_DOCS'], true)

- bash: |
    cd build
    cmake --build . --target install
  displayName: Install GMT

- bash: |
    set -x -e
    gmt --version
    gmt-config --all
    gmt defaults -Vd
    gmt pscoast -R0/10/0/10 -JM6i -Ba -Ggray -ENG+p1p,blue -P -Vd > test.ps
    gmt begin && gmt coast -R0/10/0/10 -JM6i -Ba -Ggray -ENG+p1p,blue -Vd && gmt end
    gmt grdimage @earth_relief_60m -JH10c -Baf -pdf map
    gmt earthtide -T2018-06-18T12:00:00 -Gsolid_tide_up.grd
  displayName: Check a few simple commands

# Run the full tests
- bash: |
    set -x -e
    # Download cache files from remote server before testing, see see #939.
    $(gmt --show-sharedir)/tools/gmt_getremote.sh cache
    # Download earth relief files used in testing
    gmt which -Gu @earth_relief_01m @earth_relief_02m @earth_relief_04m @earth_relief_05m @earth_relief_10m @earth_relief_15m
    # run all jobs, and rerun failed jobs
    cd build
    ctest ${CTEST_ARGS} || ctest ${CTEST_ARGS} --rerun-failed || ctest ${CTEST_ARGS} --rerun-failed
  displayName: Full tests
  env:
    CTEST_ARGS: "--output-on-failure --force-new-ctest-process -j4 --timeout 480"
  condition: eq(variables['TEST'], true)

# Publish the whole build directory for debugging purpose
- task: CopyFiles@2
  inputs:
    contents: 'build/**/*'
    targetFolder: $(Build.ArtifactStagingDirectory)
  condition: failed()
- task: PublishBuildArtifacts@1
  inputs:
    pathToPublish: $(Build.ArtifactStagingDirectory)
    artifactName: BuildDirectory-Linux
  displayName: Publish build directory
  condition: failed()

# Upload test coverage even if build fails. Keep separate to make sure this task fails
# if the tests fail.
- bash: |
    set -x -e
    bash <(curl -s https://codecov.io/bash)
  env:
    CODECOV_TOKEN: $(codecov.token)
  condition: and(eq(variables['TEST'], true), succeededOrFailed())
  displayName: Upload test coverage

- bash: bash ci/deploy-gh-pages.sh
  displayName: Deploy documentations
  env:
    HTML_BUILDDIR: "build/doc/rst/html"
    GITHUB_TOKEN: $(github.token)
  # only deploy if on master and 6.0 branches
  condition: and(eq(variables['DEPLOY_DOCS'], true), in(variables['Build.SourceBranchName'], 'master', '6.0'))

- bash: |
    set -x -e
    cd build
    cmake --build . --target gmt_release
    cmake --build . --target gmt_release_tar
    shasum -a 256 gmt-*.tar.gz gmt-*.tar.xz
  displayName: Package GMT
  condition: eq(variables['PACKAGE'], true)
