# Template for Windows steps in Azure Pipelines

steps:

- bash: |
    set -x -e
    # By default, vcpkg builds both release and debug configurations.
    # Set VCPKG_BUILD_TYPE to build release only to save half time
    echo 'set(VCPKG_BUILD_TYPE release)' >> ${VCPKG_INSTALLATION_ROOT}/triplets/x64-windows.cmake
    cat ${VCPKG_INSTALLATION_ROOT}/triplets/x64-windows.cmake
    # install libraries
    #vcpkg install netcdf-c gdal pcre fftw3 clapack openblas --triplet x64-windows
    vcpkg install netcdf-c gdal pcre fftw3 --triplet x64-windows
    # hook up user-wide integration
    vcpkg integrate install
    # list installed libraries
    vcpkg list
    # Executable files search for DLL files in the directories listed in the PATH environment variable.
    echo "##vso[task.prependpath]${VCPKG_INSTALLATION_ROOT}/installed/x64-windows/bin"
    # Tools like gdal_translate, ogr2ogr are located in tools/gdal
    echo "##vso[task.prependpath]${VCPKG_INSTALLATION_ROOT}/installed/x64-windows/tools/gdal"
  displayName: Install dependencies via vcpkg

- bash: |
    set -x -e
    choco install ninja
    choco install ghostscript --version 9.26 # gs 9.27 is buggy
  displayName: Install dependencies via chocolatey

- bash: |
    set -x -e
    pip install --user sphinx
    echo "##vso[task.prependpath]C:\\Users\\VssAdministrator\\AppData\\Roaming\\Python\\Python36\\Scripts"
  displayName: Install dependencies for documentation
  condition: eq(variables['BUILD_DOCS'], true)

- bash: |
    set -x -e
    choco install graphicsmagick
    echo "##vso[task.prependpath]C:\\Program Files\\GraphicsMagick-1.3.32-Q8"
    choco install ffmpeg
    echo "##vso[task.prependpath]C:\\ProgramData\\chocolatey\\lib\\ffmpeg\\tools"
  displayName: Install dependecies for testing
  condition: eq(variables['TEST'], true)

- bash: echo "##vso[task.setvariable variable=INSTALLDIR]D:/a/1/s/gmt-install-dir"
  displayName: Set install location

- bash: echo "##vso[task.setvariable variable=COASTLINEDIR]D:/a/1/s/coastline"
  displayName: Set coastline location

- bash: echo "##vso[task.prependpath]$INSTALLDIR/bin"
  displayName: Set PATH

- bash: ci/download-coastlines.sh
  displayName: Download coastlines

- bash: ci/config-gmt-windows.sh
  displayName: Configure GMT

# Azure Pipelines cannot find Visual Studio correctly if Ninja is used.
# Here, we need
# 1. call the vcvars64.bat script
# 2. define CMAKE_C_COMPILER
- script: |
    mkdir build
    cd build
    call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
    cmake .. -G "Ninja" -DCMAKE_TOOLCHAIN_FILE=%VCPKG_INSTALLATION_ROOT%\scripts\buildsystems\vcpkg.cmake -DCMAKE_C_COMPILER=cl.exe -DCMAKE_BUILD_TYPE=Release
    cmake --build .
    cmake --build . --target install
  displayName: Compile GMT

# Set HOME to avoid permission issue of azure-pipelines
- bash: echo "##vso[task.setvariable variable=HOME]D:/a/1/s/"
  displayName: Set HOME

- script: |
    gmt --version
    gmt defaults -Vd
    gmt pscoast -R0/10/0/10 -JM6i -Ba -Ggray -P -Vd > test.ps
    gmt begin && gmt coast -R0/10/0/10 -JM6i -Ba -Ggray -Vd && gmt end
  displayName: Check a few simple commands

- bash: |
    set -x -e
    cd build
    # Download remote files before testing, see #939.
    curl http://www.soest.hawaii.edu/gmt/data/gmt_md5_server.txt | awk 'NF==3 && $1!~/earth/ {print "@"$1}' | xargs gmt which -Gc
    gmt which -Gu @earth_relief_01m @earth_relief_02m @earth_relief_04m @earth_relief_05m @earth_relief_10m @earth_relief_15m
    # disable MinGW's path conversion, see #1035.
    export MSYS_NO_PATHCONV=1
    # run all jobs and rerun if failed
    ctest ${CTEST_ARGS} || ctest ${CTEST_ARGS} --rerun-failed
  displayName: Full tests
  env: {"CTEST_ARGS": "-T test --output-on-failure --force-new-ctest-process -j4 --timeout 360"}
  condition: eq(variables['TEST'], true)

# Publish the whole build directory for debugging purpose
- task: CopyFiles@2
  inputs:
    contents: 'build/**/*'
    targetFolder: $(Build.ArtifactStagingDirectory)
  condition: failed()
- task: PublishBuildArtifacts@1
  inputs:
    pathToPublish: $(Build.ArtifactStagingDirectory)
    artifactName: BuildDirectory
  displayName: Publish build directory
  condition: failed()

# Publish Test Results
- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'cTest'
    testResultsFiles: 'build/Testing/*/Test.xml'
  condition: eq(variables['TEST'], true)
  displayName: Publish test results

- bash: |
    set -x -e
    cd build
    cmake --build . --target docs_html_depends
    cmake --build . --target docs_man_depends
    cmake --build . --target docs_html
    cmake --build . --target docs_man
  displayName: Build documentations
  condition: eq(variables['BUILD_DOCS'], true)

- bash: |
    set -x -e
    cd build
    cmake --build . --target gmt_release
    cmake --build . --target gmt_release_tar
    # Don't use cpack here. Chocolatey also provides a cpack command.
    cmake --build . --target package
    ls -l gmt-*.tar.gz gmt-*.tar.xz gmt-*.exe
    md5sum gmt-*.tar.gz gmt-*.tar.xz gmt-*.exe
  displayName: Package GMT
  condition: eq(variables['PACKAGE'], true)
