# Template for the basic Mac steps in Azure Pipelines

steps:

- bash: |
    set -x -e
    brew install cmake ninja curl netcdf gdal fftw pcre2 ghostscript || true
  displayName: Install dependencies

- bash: |
    set -x -e
    brew install graphicsmagick || true
  displayName: Install dependencies required by testing
  condition: eq(variables['TEST'], true)

- bash: |
    set -x -e
    pip3 install --user sphinx
  displayName: Install dependencies required by building docs
  condition: eq(variables['BUILD_DOCS'], true)

- bash: echo "##vso[task.setvariable variable=INSTALLDIR]$BUILD_SOURCESDIRECTORY/gmt-install-dir"
  displayName: Set install location

- bash: echo "##vso[task.setvariable variable=COASTLINEDIR]$INSTALLDIR/coast"
  displayName: Set coastline location

- bash: echo "##vso[task.prependpath]$INSTALLDIR/bin"
  displayName: Set PATH

- bash: |
    set -x -e
    mkdir -p "$INSTALLDIR"
    mkdir -p "$COASTLINEDIR"
  displayName: Create install directories

- bash: ci/download-coastlines.sh
  displayName: Download coastlines

- bash: ci/build-gmt.sh
  displayName: Compile GMT
