

/***************************************************************************
                             Basic headers and text:
 ***************************************************************************/

body
{
    font-family: sans-serif;
    background: white;

    margin: 2em 1em 2em 1em;

    font-size: 10pt;
}

h1,h2,h3
{
    color: #005aa0;
    text-align: left;
}

h1
{
    font-size: 185%;
}

h2
{
    font-size: 150%;
}

h3
{
    font-size: 120%;
}



/***************************************************************************
                               Program listings:
 ***************************************************************************/

pre.programlisting
{
    border: 1px solid #6185a0;
    padding: 6px 6px;
    margin-left: 3em;
    margin-right: 3em;
    color: #600000;
    background: #eeeeee;
    font-family: monospace;
    font-size: 90%;
}

/***************************************************************************
                               Notes, warnings etc:
 ***************************************************************************/

.note
{
    border: 1px solid #6185a0;
    padding: 6px 36px;
    margin-left: 2em;
    margin-right: 2em;

    background: #fffff5;
    background-image: url(images/note.png);
    background-position: center left;
    background-repeat: no-repeat;
}


div.note
{
    font-style: italic;
}

div.note h3
{
    color: red;
    font-size: 75%;
}

.navfooter, .navheader
{
    font-size: 80%;
}


/***************************************************************************
                        Links colors and highlighting: 
 ***************************************************************************/

a:link { color: #0048b3; }
a:visited { color: #002a6a; }
a:hover { background: #ffffcd; }


/***************************************************************************
                              Table of contents:
 ***************************************************************************/

.toc
{
	font-size: 90%;
}

div.example,div.toc
{
	border: thin dotted #70AAE5;
	padding-left: 10px;
	padding-right: 10px;
	color: #000000;
	background-color: #EFF8F8;
}

div.toc
{
	margin-left: 20px;
	margin-right: 20px;
	width: 95%;
}


/***************************************************************************
                               Special elements:
 ***************************************************************************/

tt
{
    color: #400000;
}

.term
{
    font-weight: bold;
    
}

div.variablelist dd
{
    margin-bottom: 1em;
}

.default
{
    font-style: italic;
}

.availability
{
    font-style: italic;
}

.varname
{
    color: #400000;
}


div.informaltable table
{
  border: 1px solid #6185a0;
  width: 100%;
}

div.informaltable td
{
  border: 0;
  padding: 5px;
}

div.informaltable td.default
{
  text-align: right;
}

div.informaltable th
{
  text-align: left;
  color: #005aa0;
  border: 0;
  padding: 5px;
  background: #fffff5;
  font-weight: normal;
  font-style: italic;
}

td
{
  vertical-align: top;
}

td.varname, td.tagname, td.paramname
{
  font-weight: bold;
}


/***************************************************************************
                                Python functions:
 ***************************************************************************/

.synopsis
{
    font-weight: bold;
    background: #eeeeee;
    margin-left: 1%;
    padding-left: 1ex;
}

.parameter
{
    font-weight: normal;
    font-style: italic;
    color: #005aa0;
}
